.card__details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card__detailsLink {
  color: rgb(105, 80, 243);
  font-weight: bold;
}

.card__detailsRating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-weight: bold;
}

.card__detailsDistance {
  border: 2px #d8e0fd solid;
  border-radius: 4px;
  padding: 0 5px;
  color: #6950f3;
  background-color: #e7e8ff;
}
