:root {
  margin: 0 auto;
  --light-grey: #f9f9f9;
  --light-pink: #fbe2fa;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--light-grey);
}

h2 {
  font-size: 32px;
}
